
:root .t-s19 {
  --color-text: #ff2020;
  --color-text-inverted: var(--color-pelle--accent);
  --color-base: #452323;
  --color-accent: var(--color-pelle--base);
  --color-notification: var(--color-pelle--base);

  --color-prestige--accent: var(--color-pelle--accent);
  --color-background: var(--color-pelle--accent);

  --color-teresa--base: var(--color-pelle--base);
  --color-teresa--accent: var(--color-pelle--accent);

  --color-effarig--base: var(--color-pelle--base);

  --color-enslaved--base: var(--color-pelle--base);

  --color-ra--light: var(--color-pelle--light);
  --color-ra--base: var(--color-pelle--base);
  --color-ra--accent: var(--color-pelle--accent);

  --color-v--base: var(--color-pelle--base);

  --color-ra-pet--teresa: var(--color-pelle--base);
  --color-ra-pet--effarig: var(--color-pelle--base);
  --color-ra-pet--enslaved: var(--color-pelle--base);
  --color-ra-pet--v: var(--color-pelle--base);
  --color-ra-pet--glitch: var(--color-pelle--base);

  --color-laitela--base: var(--color-pelle--base);
  --color-laitela--accent: var(--color-pelle--accent);

  --color-pelle--light: rgb(227, 81, 122);
  --color-pelle--base: crimson;
  --color-pelle--accent: rgb(117, 8, 28);
  --color-pelle--secondary: #00bcd4;

  --color-glitch--accent: var(--color-pelle--light);
  --color-glitch--base: var(--color-pelle--base);

}

/* Celestial styles */
@keyframes a-effarig-run-button--not-running-glow {
  from {
    text-shadow:
      0 0 1rem black,
      0 0 2rem black,
      0 0 3rem #d85e5e,
      0 0 4rem #d85e5e,
      0 0 5rem #d85e5e,
      0 0 6rem #d85e5e,
      0 0 7rem #d85e5e;
    box-shadow: 0 0 0.5rem #d85e5e, 0 0 1rem #d85e5e, 0 0 1.5rem #d85e5e;
  }

  to {
    text-shadow:
      0 0 2rem black,
      0 0 3rem #a41313,
      0 0 4rem #a41313,
      0 0 5rem #a41313,
      0 0 6rem #a41313,
      0 0 7rem #a41313,
      0 0 8rem #a41313;
    box-shadow: 0 0 0.5rem #a41313, 0 0 1rem #a41313, 0 0 1.5rem #a41313, 0 0 2rem #a41313;
  }
}

@keyframes a-effarig-run-button--running-glow {
  from {
    box-shadow:
      0 0 0.5rem #a41313 inset,
      0 0 1rem   #a41313 inset,
      0 0 1.5rem #a41313 inset,
      0 0 1.5rem #a41313,
      0 0 1.5rem #a41313,
      0 0 1.5rem #a41313;
  }

  to {
    box-shadow:
      0 0 0.5rem #5e0707 inset,
      0 0 1rem   #5e0707 inset,
      0 0 1.5rem #5e0707 inset,
      0 0 1.5rem #5e0707,
      0 0 1.5rem #5e0707,
      0 0 1.5rem #5e0707,
      0 0 2rem   #5e0707 inset,
      0 0 2rem   #5e0707;
  }
}

@keyframes a-effarig-run-button__inner--running-glow {
  from {
    text-shadow: 0 0 0.5rem #a41313, 0 0 1rem #a41313, 0 0 1.5rem #a41313;
  }

  to {
    text-shadow: 0 0 0.5rem #5e0707, 0 0 1rem #5e0707, 0 0 1.5rem #5e0707, 0 0 2rem #5e0707;
  }
}

@keyframes a-effarig-run-button--running-noise {
  0% {
    -webkit-text-fill-color: rgb(215, 32, 32);
  }

  20% {
    background-position: -50px 0;

    -webkit-text-fill-color: rgba(215, 32, 32, 100%);
  }

  22% {
    background-position: 100px -10px;

    -webkit-text-fill-color: rgba(215, 32, 32, 50%);
  }

  24% {
    background-position: 0 -150px;

    -webkit-text-fill-color: rgba(215, 32, 32, 100%);
  }

  50% {
    background-position: -50px 0;

    -webkit-text-fill-color: rgba(215, 32, 32, 100%);
  }

  51% {
    background-position: 100px -10px;

    -webkit-text-fill-color: rgba(215, 32, 32, 50%);
  }

  52% {
    background-position: 0 -150px;

    -webkit-text-fill-color: rgba(215, 32, 32, 100%);
  }

  54% {
    background-position: 50px 0;

    -webkit-text-fill-color: rgba(215, 32, 32, 100%);
  }

  56% {
    background-position: -100px 10px;

    -webkit-text-fill-color: rgba(215, 32, 32, 50%);
  }

  58% {
    background-position: 0 50px;

    -webkit-text-fill-color: rgba(215, 32, 32, 100%);
  }

  90% {
    background-position: 50px 50px;

    -webkit-text-fill-color: rgba(215, 32, 32, 100%);
  }

  91% {
    background-position: 100px -110px;

    -webkit-text-fill-color: rgba(215, 32, 32, 50%);
  }

  92% {
    background-position: 0 70px;

    -webkit-text-fill-color: rgba(215, 32, 32, 100%);
  }

  100% {
    -webkit-text-fill-color: rgba(215, 32, 32, 100%);
  }
}

.t-s19 .o-v-milestone{
  background-color: var(--color-pelle--base);
}

.t-s19 .o-v-milestone--unlocked{
  background-color: var(--color-pelle--light);
  border-color: var(--color-pelle--base);
}

.t-s19 .c-enslaved-run-button{
  border-color: var(--color-pelle--base);
}

.c-v-run-button__line {
  background: var(--color-pelle--accent);
}

.t-s19 .l-cursed-glyph-creation{
  background-color: var(--color-base);
}

.t-s19 .c-effarig-run-button--running:hover{
  background-color: #350707;
}

.t-s19 .pelle-icon-container{
  text-shadow: 0 0 1.5rem #4e0a0a;
}

.t-s19 .o-glitch-run-button{
  background-color: var(--color-pelle--accent);
}

.t-s19 .c-pelle-rift{
  box-shadow: inset 0 0 1rem 0.1rem rgba(106, 16, 16, 0.45), 0 0 1rem 0.1rem rgba(110, 12, 12, 0.45);
}

.t-s19 .pelle-icon-container{
  box-shadow: inset 0 0 1rem 0.1rem rgba(106, 16, 16, 0.45), 0 0 1rem 0.1rem rgba(110, 12, 12, 45%);
}

.t-s19 .o-enslaved-mechanic-button{
    background-color: #c12020;
    border: var(--var-border-width, 0.2rem) solid rgb(112, 18, 18);
    box-shadow: 0 0 2rem inset rgba(79, 6, 6, 0.5);
}

.t-s19 .o-enslaved-mechanic-button--storing-time {
  background-color: #b31a1a;
}

.t-s19 .o-enslaved-shop-button--bought {
  background-color: #b31a1a;
}

/* Normal stuff*/

.t-s19 .c-background-overlay{
  background-color: #000000;
}

.t-s19 .o-sidebar-currency--antimatter{
  color: var(--color-antimatter);
}

.t-s19 .c-game-header__antimatter{
  color: var(--color-antimatter);
}

body.t-s19 {
  color: var(--color-pelle--base);
  background-color: var(--color-pelle--accent);
}

.t-s19 .container {
  color: var(--color-pelle--base);
}

.t-s19 .c-pelle-run-button{
  color: var(--color-pelle--base);
}
/* metro  theme with less box shadows */

.t-s19 input,
.t-s19 select {
  border: 0.1rem solid #b21818;
}

.t-s19 .c-tt-buy-button--unlocked {
  color: var(--color-pelle--base);
  background: #300606;
  border: 0.1rem solid var(--color-pelle--light);
}

.t-s19 .c-tt-buy-button--unlocked:hover {
  color: #212121;
  background: var(--color-pelle--light);
}

.t-s19 .c-tt-buy-button--locked {
  background: #9e9e9e;
  border: none;
  box-shadow: 1px 1px 1px 0 #000000;
}

.t-s8 .c-tt-buy-button--locked:hover {
  background: #b12320;
}
