
:root .t-s16 {
  --color-text: #fa0000;
  --color-text-inverted: var(--color-effarig--accent);
  --color-base: #400009;
  --color-accent: var(--color-effarig--base);
  --color-notification: var(--color-effarig--base);

  --color-prestige--accent: var(--color-effarig--accent);
  --color-background: var(--color-effarig--accent);

  --color-teresa--base: var(--color-effarig--base);
  --color-teresa--accent: var(--color-effarig--accent);

  --color-effarig--light: #f19797;
  --color-effarig--base: #d13737;
  --color-effarig--accent: #512323;

  --color-enslaved--base: var(--color-effarig--base);

  --color-ra--base: var(--color-effarig--base);

  --color-v--base: var(--color-effarig--base);

  --color-ra-pet--teresa: var(--color-effarig--light);
  --color-ra-pet--effarig: var(--color-effarig--base);
  --color-ra-pet--enslaved: var(--color-effarig--light);
  --color-ra-pet--v: var(--color-effarig--light);
  --color-ra-pet--glitch: var(--color-effarig--light);

  --color-laitela--base: var(--color-effarig--base);
  --color-laitela--accent: var(--color-effarig--accent);

  --color-pelle--base: var(--color-effarig--base);
  --color-pelle--secondary: purple;

  --color-glitch--accent: var(--color-effarig--light);
  --color-glitch--base: var(--color-effarig--base);

}

/* Celestial styles */

.t-s16 .o-v-milestone{
  background-color: var(--color-effarig--base);
}

.t-s16 .o-v-milestone--unlocked{
  background-color: var(--color-effarig--light);
  border-color: var(--color-effarig--base);
}

.t-s16 .c-enslaved-run-button{
  border-color: var(--color-effarig--base);
}

.c-v-run-button__line {
  background: var(--color-effarig--accent);
}

.t-s16 .l-cursed-glyph-creation{
  background-color: var(--color-base);
}

.t-s16 .pelle-icon-container{
  text-shadow: 0 0 1.5rem #913737;
}

.t-s16 .o-glitch-run-button{
  background-color: var(--color-effarig--accent);
}

.t-s16 .c-pelle-rift{
  box-shadow: inset 0 0 1rem 0.1rem rgba(240, 30, 25, 0.45), 0 0 1rem 0.1rem rgba(209, 32, 5, 0.45);
}

.t-s16 .pelle-icon-container{
  box-shadow: inset 0 0 1rem 0.1rem rgba(204, 30, 15, 45%), 0 0 1rem 0.1rem rgba(179, 32, 25, 45%);
}

.t-s16 .o-enslaved-mechanic-button{
    background-color: #a11727;
    border: var(--var-border-width, 0.2rem) solid skyblue;
    box-shadow: 0 0 2rem inset rgba(24, 24, 206, 50%);
}

.t-s16 .o-enslaved-mechanic-button--storing-time {
  background-color: #f15757;
}

.t-s16 .o-enslaved-shop-button--bought {
  background-color: #f10707;
;
}

/* Normal stuff*/

.t-s16 .c-background-overlay{
  background-color: #000000;
}

.t-s16 .o-sidebar-currency--antimatter{
  color: var(--color-antimatter);
}

.t-s16 .c-game-header__antimatter{
  color: var(--color-antimatter);
}

body.t-s16 {
  color: var(--color-effarig--base);
  background-color: var(--color-effarig--accent);
}

.t-s16 .container {
  color: var(--color-effarig--base);
}

.t-s16 .c-effarig-run-button{
  color: var(--color-effarig--base);
}
/* metro  theme with less box shadows */

.t-s16 input,
.t-s16 select {
  border: 0.1rem solid #a9a9a9;
}

.t-s16 .c-tt-buy-button--unlocked {
  color: var(--color-effarig--base);
  background: #212121;
  border: 0.1rem solid var(--color-effarig--light);
}

.t-s16 .c-tt-buy-button--unlocked:hover {
  color: #212121;
  background: var(--color-effarig--light);
}

.t-s16 .c-tt-buy-button--locked {
  background: #9e9e9e;
  border: none;
  box-shadow: 1px 1px 1px 0 #000000;
}

.t-s8 .c-tt-buy-button--locked:hover {
  background: #b12320;
}
